
.posts>ul{
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    gap:3.3rem;
    margin-top: 60px;
    
}

.noticias-card{
    width: 400px;
}
.noticias-card>img {
    width: 400px;
    height: 100px;
}
.noticia-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.noticia-info>h3{
    font-weight: 600;
}

.noticia-info>p{
    font-weight: 400;
    font-size: 16px;
}

.noticia-info>button{
    border: none;
    background-color: transparent   ;
    width: 120px;
    color: var( --color-brand-200);
    font-weight: 600;
    cursor: pointer;
}
